<template>
  <div>
    <div v-if="student != null">
      <v-card>
        <v-card-title>{{ student.name }}</v-card-title>
        <v-card-subtitle>{{ student.team_name }}</v-card-subtitle>
        <v-card-text>
          <v-sheet>
            Completed tasks
          </v-sheet>
        </v-card-text>
      </v-card>
    </div>
    <div v-else>
      <v-skeleton-loader type="list-item-avatar-three-line"></v-skeleton-loader>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      studentId: null,
      student: null
    };
  },
  mounted() {
    this.studentId = this.$route.params.id;
    this.$axios
      .get('/get_student', { params: { id: this.studentId } })
      .then((res) => {
        this.student = res.data;
        console.log(this.student);
      });
  }
};
</script>
