<template>
  <div>
    <student
      :creating-student="creating_student"
      :table-id="table_id"
      @close="creating_student = !creating_student"
      @created="renew()"
    />
    <v-dialog
      v-model="dialog"
      persistent
      max-width="max-content"
      max-height="500px"
    >
      <v-card width="max-content" height="max-content">
        <v-card-title>Editing {{ current_name }}'s mark </v-card-title>
        <!--mark-setting!-->
        <v-slider
          v-model="current_markset"
          class=" pl-5 pr-5"
          min="1"
          label="Mark"
          max="5"
          width="200px"
          track-color="grey"
          :track-fill-color="color"
          thumb-label
          :thumb-color="color"
        ></v-slider>
        <v-card-actions>
          <v-btn
            :color="cancel_color"
            @click="
              dialog = !dialog;
              current_markset = 1;
            "
            >Close</v-btn
          >

          <v-btn
            :color="submit_color"
            @click="
              make_mark();
              dialog = !dialog;
              current_markset = 1;
            "
            >Submit</v-btn
          >
          <v-btn
            color="light-blue"
            @click="
              delete_mark();
              dialog = !dialog;
            "
          >
            Delete Mark
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col cols="10">
        <v-sheet elevation="3">
          <div v-if="table" class="pa-2 font-weight-black text-uppercase ">
            {{ table.name }}
          </div>
          <v-data-table
            :headers="headers"
            :items="items"
            :sort-by="sortbytbl"
            :sort-desc="sortdesctbl"
          >
            <template v-slot:item="{ item }">
              <tr>
                <td>
                  <v-list>
                    <v-list-item>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-list-item-avatar
                            size="30px"
                            :color="item.team_color"
                            class="mr-2 px-1"
                            v-on="on"
                            ><div
                              style="-moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;"
                              class="text-uppercase"
                            >
                              {{ getabb(item.team_name) }}
                            </div>
                          </v-list-item-avatar>
                        </template>
                        <span>{{ item.team_name }}</span>
                      </v-tooltip>

                      <v-list-item-title
                        @click="
                          $nuxt.$router.replace({
                            path: `/students/${item.id}`
                          })
                        "
                      >
                        {{ item.name }}
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </td>
                <td>
                  <v-btn
                    :color="colorly(item)"
                    @click="
                      dialog = !dialog;
                      remember_data(item.id, item.name, item.mark);
                    "
                    >{{ item.mark }}</v-btn
                  >
                </td>
                <td>
                  <v-row>
                    <v-col cols="1" class="d-inline">
                      <v-btn
                        fab
                        icon
                        x-small
                        :color="cancel_color"
                        @click="dislike(item.id, item.index)"
                        @contextmenu.prevent="dis(item.id, item.index)"
                        ><v-icon> mdi-thumb-down </v-icon
                        >{{ item.total.dislikes }}</v-btn
                      >
                    </v-col>
                    <v-col cols="1" class="d-inline">
                      <v-btn
                        fab
                        icon
                        x-small
                        color="light-blue"
                        @click="reset(item.id, item.index)"
                        ><v-icon>mdi-restart</v-icon></v-btn
                      >
                    </v-col>
                    <v-col cols="1" class="d-inline">
                      <v-btn
                        fab
                        icon
                        x-small
                        :color="like_color"
                        @click="like(item.id, item.index)"
                        @contextmenu.prevent="lik(item.id, item.index)"
                      >
                        <v-icon>mdi-thumb-up</v-icon>
                        {{ item.total.likes }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </td>
                <td v-for="(task, index) in tasks" :key="task.id">
                  <v-checkbox
                    v-model="item.tasks[index]"
                    @change="complete(item.id, index, task.id)"
                  ></v-checkbox>
                </td>
              </tr>
            </template>
            <template v-slot: header.name="{ header }">
              <div class="d-inline">
                <div
                  :class="sort_text_color"
                  style="cursor: pointer"
                  @click="change_sort_team_type"
                  @mouseenter="arrow_sort"
                  @mouseleave="arrow_sort_false"
                >
                  Team
                  <v-icon size="18" :style="style_sort">mdi-arrow-up</v-icon>
                </div>
                <v-divider></v-divider>
                {{ header.text }}
              </div>
            </template>
          </v-data-table>
          <v-row class="ml-3">
            <v-col cols="2">
              <v-btn
                color="blue"
                @click="
                  $axios.post('/create_invite', {
                    tableID: table.id,
                    tableName: table.name
                  });
                  $nuxt.$router.replace({
                    path: `/createinvite/${hash}`
                  });
                "
              >
                <v-icon>
                  mdi-plus
                </v-icon>
              </v-btn>
            </v-col>
            <v-col cols="2">
              <v-btn
                color="blue"
                @click="
                  $nuxt.$router.replace({ path: `/tables/${table.id}/tasks` })
                "
              >
                <v-icon>
                  mdi-pin
                </v-icon>
              </v-btn>
            </v-col>
            <v-col cols="2">
              <v-btn disabled="">
                <v-icon>
                  mdi-cog-outline
                </v-icon>
              </v-btn>
            </v-col>
            <v-col cols="2">
              <v-btn disabled="">
                <v-icon>
                  mdi-pencil-outline
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-sheet>
      </v-col>
      <v-col cols="2">
        <v-sheet>
          <v-subheader>
            Tasks
          </v-subheader>

          <v-divider></v-divider>
          <v-expansion-panels>
            <v-expansion-panel v-for="(item, i) in tasks" :key="i">
              <v-expansion-panel-header>{{
                item.task
              }}</v-expansion-panel-header>

              <v-expansion-panel-content>
                {{ item.comment }}
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels></v-sheet
        ></v-col
      >
    </v-row>
  </div>
</template>

<script>
import sha256 from 'sha256';
// let index = 0;
import student from '../../../components/student';
export default {
  components: {
    student
  },
  data() {
    return {
      table: null,
      headers: [
        { text: 'Name', value: 'name', sortable: false },
        { text: 'Mark', value: 'mark' },
        { text: 'Total', value: 'total', sortable: false }
      ],
      items: [],
      current_markset: '',
      dialog: false,
      table_id: '',
      current_name: '',
      createdStudent_name: 'New Student',
      createdStudent_team: 'None',
      creating_student: false,
      color_color: '#F44336',
      color_picker: false,
      current_color: '#F44336',
      adding_team: false,
      submit_color: 'blue darken-3',
      cancel_color: 'red darken-3',
      like_color: 'green darken-1',
      dislike_color: 'red darken-1',
      commandcolor: 'light-blue',
      sorty: null,
      sortbytbl: 'name',
      sortdesctbl: false,
      style_sort: 'opacity: 0%;transition: 0.2s',
      sort_text_color: 'mr-3',
      tasks: [],
      sex: true,
      currentIndex: 0,
      user: null,
      hash: 0
    };
  },
  computed: {
    color() {
      if (this.current_markset == 1) {
        return 'red accent-4';
      } else if (this.current_markset == 2) {
        return 'red';
      } else if (this.current_markset == 3) {
        return 'yellow darken-3';
      } else if (this.current_markset == 4) {
        return 'lime darken-2';
      } else if (this.current_markset == 5) {
        return 'green darken-3';
      } else return 'black';
    },
    slot() {
      return 'item.tasks';
    }
  },
  mounted() {
    this.start();
    this.$axios
      .get('/get_table_tasks', { params: { id: this.$route.params.id } })
      .then((res) => {
        this.tasks = res.data;
      });
    this.hash = sha256(this.table_id);
    // this.gettabheads();
  },

  methods: {
    changeStudentState() {
      this.creating_student = !this.creating_student;
    },
    /* tasky(id) {
      if (this.tasks[0].completed_by.indexOf(this.items[0].id)) {
        return true;
      }
    }, */
    async start() {
      this.table_id = this.$route.params.id;
      await this.gettbl();
      // this.gettasks();
    },
    sortclr() {
      return this.sort_text_color;
    },
    arrow_sort() {
      if (this.sorty == null) this.style_sort = 'opacity: 50%;transition: 0.2s';
      this.sort_text_color = 'mr-3 white--text';
    },

    arrow_sort_false() {
      if (this.sorty == null) {
        this.sort_text_color = 'mr-3 d-inline';
        this.style_sort = 'opacity: 0%;transition: 0.2s';
      }
    },
    reset_style() {
      if (this.sorty != null) {
        // this.sortbytbl = 'mark';
        this.sortdesctbl = false;
        this.sort_text_color = 'mr-3';
        this.style_sort = 'opacity: 0%;transition: 0.2s';
        this.sorty = null;
      }
    },
    change_sort_team_type() {
      if (this.sorty) {
        this.sortbytbl = 'team_name';
        this.sortdesctbl = true;
        this.sort_text_color = 'mr-3 white--text';
        this.style_sort = 'transform: rotate(-180deg); transition: 0.2s';
        this.sorty = false;
      } else if (this.sorty == null) {
        this.sortbytbl = 'team_name';
        this.sortdesctbl = false;
        this.sort_text_color = 'mr-3 white--text';
        this.style_sort = 'opacity: 100%; transition: 0.2s';
        this.sorty = true;
      } else {
        this.sortbytbl = 'name';
        this.sortdesctbl = false;
        this.sort_text_color = 'mr-3';
        this.style_sort = 'opacity: 0%;transition: 0.2s';
        this.sorty = null;
      }
    },
    gettabheads() {
      this.headers = [
        { text: 'Name', value: 'name', sortable: false },
        { text: 'Mark', value: 'mark' },
        { text: 'Total', value: 'total', sortable: false }
      ];
      for (const row of this.tasks) {
        this.headers.push({
          text: row.task,
          value: 'tasks',
          sortable: false
        });
        // console.log(this.headers);
      }
    },
    rty() {
      for (; this.currentIndex < this.headers.length - 3; this.currentIndex++) {
        console.log(this.currentIndex);
      }
      if (this.currentIndex % 2 == 0) {
        return 1;
      } else {
        return 0;
      }
    },
    lik(idc, index) {
      if (this.table.students[index].likes > 0)
        this.post({
          id: idc,
          table_id: this.table_id,
          likes: this.table.students[index].likes - 1,
          dislikes: this.table.students[index].dislikes
        });
    },
    complete(Id, taskIndex, taskid) {
      if (this.tasks[taskIndex].completed_by != null) {
        if (this.tasks[taskIndex].completed_by.includes(Id)) {
          const indexof = this.tasks[taskIndex].completed_by.indexOf(Id);
          this.tasks[taskIndex].completed_by.splice(indexof, 1);
          this.$axios.post('/complete_task', {
            id: taskid,
            data: { completed_by: this.tasks[taskIndex].completed_by }
          });
        } else {
          this.tasks[taskIndex].completed_by.push(Id);
          this.$axios.post('/complete_task', {
            id: taskid,
            data: { completed_by: this.tasks[taskIndex].completed_by }
          });
        }
      } else {
        this.tasks[taskIndex].completed_by = [];
        this.tasks[taskIndex].completed_by.push(Id);
        this.$axios.post('/complete_task', {
          id: taskid,
          data: { completed_by: this.tasks[taskIndex].completed_by }
        });
      }
    },
    dis(idc, index) {
      if (this.table.students[index].dislikes > 0)
        this.post({
          id: idc,
          table_id: this.table_id,
          likes: this.table.students[index].likes,
          dislikes: this.table.students[index].dislikes - 1
        });
    },
    like(idc, index) {
      this.post({
        id: idc,
        table_id: this.table_id,
        likes: this.table.students[index].likes + 1,
        dislikes: this.table.students[index].dislikes
      });
    },
    getTaskValue(ind) {
      for (let a = 0; a < this.headers.length - 3; a++) {
        this.items[ind].taskindex = a;
      }
    },
    dislike(idc, index) {
      this.post({
        id: idc,
        table_id: this.table_id,
        likes: this.table.students[index].likes,
        dislikes: this.table.students[index].dislikes + 1
      });
    },
    reset(idc, index) {
      this.post({ id: idc, table_id: this.table_id, likes: 0, dislikes: 0 });
    },
    edit_table(id) {
      this.edit_menu = !this.edit_menu;
      this.edit_table_id = id;
    },
    post(data) {
      this.$axios
        .post('/edit_student', {
          id: data.id,
          table_id: data.table_id,
          data: {
            likes: data.likes,
            dislikes: data.dislikes
          }
        })
        .then((res) => {
          this.gettbl();
          this.getitems();
        });
    },
    renew() {
      this.gettbl();
      console.log('Tryed to', this.table);
    },
    create_student() {
      this.$axios
        .post('/create_student', {
          table_id: this.table_id,
          data: {
            name: this.createdStudent_name,
            team_name: this.createdStudent_team,
            team_color: this.color_color
          }
        })
        .then((res) => {
          console.log(res);
          this.gettbl();
        });
    },
    getitems() {
      this.items = [];
      let i = 0;
      for (const student of this.table.students) {
        const item = {
          name: `${student.name}`,
          mark: `${student.mark}`,
          total: {
            likes: `${student.likes}`,
            dislikes: `${student.dislikes}`
          },
          team_name: `${student.team_name}`,
          team_color: `${student.team_color}`,
          id: student.id,
          index: i,
          taskindex: 0,
          tasks: []
        };
        if (this.tasks) {
          for (const task of this.tasks) {
            if (task.completed_by != null) {
              if (task.completed_by.includes(item.id)) {
                item.tasks.push(true);
              } else {
                item.tasks.push(false);
              }
            } else {
              item.tasks.push(false);
            }
          }
        }
        this.items.push(item);
        i++;
      }
    },

    gettasks() {
      this.$axios
        .get('/get_table_tasks', { params: { id: this.$route.params.id } })
        .then((res) => {
          if (res.data == 'no') {
            this.tasks = null;
          } else {
            this.tasks = res.data;
            this.tasks.forEach((obj) => {
              if (obj.completed_by == null) {
                obj.completed_by = [];
              } else {
                obj.completed_by = JSON.parse(obj.completed_by);
              }
            });
            this.getitems();
            this.gettabheads();
          }
        });
    },
    colorly(itm) {
      if (itm.mark == 0) {
        return 'light-blue';
      } else if (itm.mark == 1) {
        return 'red accent-4';
      } else if (itm.mark == 2) {
        return 'red';
      } else if (itm.mark == 3) {
        return 'yellow darken-3';
      } else if (itm.mark == 4) {
        return 'lime darken-2';
      } else if (itm.mark == 5) {
        return 'green darken-3';
      } else return 'black';
    },
    remember_data(rid, name, mark) {
      this.selected_row = rid;
      this.current_name = name;
      this.current_markset = mark;
    },
    getabb(name) {
      let res = '';

      // const co = name.toSting();
      // const b = co.split();
      for (const i of name.split(' ')) {
        res += i[0];
      }
      return res;
    },
    make_mark(itm) {
      this.$axios
        .post('/edit_student', {
          id: this.selected_row,
          table_id: this.table_id,
          data: {
            mark: this.current_markset
          }
        })
        .then((res) => {
          this.gettbl();
        });
    },
    delete_mark() {
      this.$axios
        .post('/edit_student', {
          id: this.selected_row,
          table_id: this.table_id,
          data: {
            mark: 0
          }
        })
        .then((res) => {
          this.gettbl();
        });
    },
    async gettbl() {
      await this.$axios
        .get('/get_table_by_id', {
          params: { id: this.$route.params.id },
          progress: false
        })
        .then(async (res) => {
          await this.$store.dispatch('auth/fetch').then((result) => {
            this.user = result.data.result.id;
          });
          if (res.data.created_id == this.user) {
            this.table = res.data;
            this.getitems();
          } else {
            this.$nuxt.$router.replace({ path: `/permissionerror` });
          }
        });
      console.log(this.table);
      this.gettasks();
    }
  }
};
</script>
