<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">Admin page</v-card-title>
        <v-card-text>
          <p v-if="user">Hello, {{ user.email }}</p>
          <p v-else>The user is not authenticated!</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text nuxt to="/">Main Page</v-btn>
          <v-btn color="primary" text @click="logOut()">Log Out</v-btn>
          <v-btn color="primary" text @click="checkMe()">Check Me</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.auth ? this.$store.state.auth.user : null;
    }
  },
  methods: {
    checkMe() {
      // ID подключённого пользователя
      this.$store.dispatch('auth/fetch').then((result) => {
        console.log('Check Me result: ', result.data.result.id);
      });
    },
    logOut() {
      this.$store.dispatch('auth/reset').then(() => {
        this.$router.push('/login');
      });
    }
  }
};
</script>
