<template>
  <div>
    <student
      :creating-student="creating_student"
      :table-id="tableIdS"
      @close="creating_student = !creating_student"
      @created="refresh()"
    />
    <v-dialog
      v-model="creating_table"
      persistent
      max-width="max-content"
      max-height="500px"
      @cahngeState="cret()"
    >
      <!--creating_table!-->
      <v-sheet>
        <v-card width="300px" height="300px">
          <v-card-title
            ><v-row>
              <v-col cols="5" class="mt-5">Creating</v-col>
              <v-col cols="7">
                <v-text-field v-model="created_name"></v-text-field>
              </v-col>
            </v-row>
          </v-card-title>
          <v-sheet>
            <v-subheader>
              {{ created_name }} <v-spacer></v-spacer>

              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    small
                    icon
                    color="primary"
                    fab
                    v-on="on"
                    @click="
                      creating_student = !creating_student;
                      add_to();
                      rst();
                    "
                  >
                    <v-icon dark>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span>Add member</span>
              </v-tooltip>
            </v-subheader>
            <v-simple-table :fixed-header="true" height="max-content">
              <template>
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Mark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in new_table.students" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>
                      <v-btn color="primary">+</v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-sheet>

          <v-card-actions>
            <v-btn
              color="error"
              @click="
                creating_table = !creating_table;
                rst;
              "
            >
              Close
            </v-btn>
            <v-btn
              color="primary"
              @click="
                create_table();
                creating_table = !creating_table;
              "
              >Submit</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-sheet>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="max-content"
      max-height="500px"
    >
      <v-card width="max-content" height="max-content">
        <v-card-title>Editing {{ current_name }}'s mark </v-card-title>
        <!--mark-setting!-->
        <v-slider
          v-model="current_markset"
          class=" pl-5 pr-5"
          min="1"
          label="Mark"
          max="5"
          width="200px"
          track-color="grey"
          :track-fill-color="color"
          thumb-label
          :thumb-color="color"
        ></v-slider>
        <v-card-actions>
          <v-btn
            :color="cancel_color"
            @click="
              dialog = !dialog;
              current_markset = 1;
            "
            >Close</v-btn
          >

          <v-btn
            :color="submit_color"
            @click="
              make_mark();
              dialog = !dialog;
              current_markset = 1;
            "
            >Submit</v-btn
          >
          <v-btn
            color="light-blue"
            @click="
              delete_mark();
              dialog = !dialog;
            "
          >
            Delete Mark
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col v-for="(item, index) in tables" :key="item.id" cols="4">
        <v-sheet height="max-content" elevation="2">
          <v-subheader>
            {{ item.name }} <v-spacer></v-spacer>
            <v-btn
              fab
              small
              icon
              color="white"
              @click="$nuxt.$router.replace({ path: `/tables/${item.id}` })"
              ><v-icon>mdi-eye</v-icon></v-btn
            >

            <v-switch v-model="like_tbls" :value="item.id" flat></v-switch>
            <v-tooltip bottom>
              <template
                v-if="edit_menu && edit_table_id == item.id"
                v-slot:activator="{ on }"
              >
                <v-btn
                  icon
                  small
                  color="error"
                  fab
                  v-on="on"
                  @click="delete_table(item.id)"
                  @contextmenu.prevent="edit_table(item.id)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
              </template>
              <template v-else v-slot:activator="{ on }">
                <v-btn
                  small
                  icon
                  color="primary"
                  fab
                  v-on="on"
                  @click="
                    creating_student = !creating_student;
                    add_to(item.id);
                    rst();
                  "
                  @contextmenu.prevent="edit_table(item.id)"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span v-if="edit_menu && edit_table_id == item.id"
                >Delete table</span
              >
              <span v-else>Add member</span>
            </v-tooltip>
          </v-subheader>
          <v-simple-table :fixed-header="true" height="500px">
            <template>
              <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Mark</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(ritem, rindex) in item.students"
                  :key="ritem.id"
                  onmouseover=""
                  style="cursor: pointer;"
                  onselectstart="return false"
                  onmousedown="return false"
                >
                  <td>{{ ritem.name }}</td>
                  <td>
                    <div v-if="edit_menu && edit_table_id == item.id">
                      <v-btn
                        color="error"
                        @click="delete_student(item.id, ritem.id)"
                        >-</v-btn
                      >
                    </div>
                    <div v-else-if="like_tbls.indexOf(item.id) != -1">
                      <v-row>
                        <v-col cols="4">
                          <v-btn
                            fab
                            icon
                            x-small
                            color="error"
                            @click="dislike(item.id, ritem.id, index, rindex)"
                            @contextmenu.prevent="
                              dis(item.id, ritem.id, index, rindex)
                            "
                            ><v-icon> mdi-thumb-down </v-icon
                            >{{ ritem.dislikes }}</v-btn
                          >
                        </v-col>
                        <v-col cols="4">
                          <v-btn
                            fab
                            icon
                            x-small
                            color="primary"
                            @click="reset(item.id, ritem.id, index, rindex)"
                            ><v-icon>mdi-restart</v-icon></v-btn
                          >
                        </v-col>
                        <v-col cols="4">
                          <v-btn
                            fab
                            icon
                            x-small
                            color="success"
                            @click="like(item.id, ritem.id, index, rindex)"
                            @contextmenu.prevent="
                              lik(item.id, ritem.id, index, rindex)
                            "
                          >
                            <v-icon>mdi-thumb-up</v-icon>
                            {{ ritem.likes }}
                          </v-btn>
                        </v-col>
                      </v-row>
                    </div>
                    <v-btn
                      v-else
                      :color="colorly(ritem)"
                      dark
                      @click="
                        remember_data(item.id, ritem.id);
                        dialog = !dialog;
                      "
                      >{{ ritem.mark }}</v-btn
                    >
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-sheet>
      </v-col>
      <v-col cols="4">
        <v-sheet elevation="2" class="d-flex justify-center" height="548px"
          ><v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                class="ma-auto"
                width="100px"
                height="100px"
                fab
                dark
                color="primary"
                @click="creating_table = !creating_table"
                v-on="on"
              >
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>Add table</span>
          </v-tooltip>
        </v-sheet>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import student from '../components/student';
export default {
  components: {
    student
  },
  data() {
    return {
      // tables: require('../generated.json'),
      dialog: false,
      tables: [],
      current_markset: 1,
      selected_table: 0,
      selected_row: 0,
      current_name: ' ',
      createdStudent_name: 'New Student',
      created_name: 'New Table',
      creating_student: false,
      new_table: {},
      creating_table: false,
      edit_menu: false,
      edit_table_id: '',
      like_tbls: [],
      color_color: '#F44336',
      color_picker: false,
      current_color: '#F44336',
      adding_team: false,
      submit_color: 'blue darken-3',
      cancel_color: 'red darken-3',
      createdStudent_team: 'None',
      user: null,
      tableIdS: null
      // tbl: require('../server/tables.js'),
      // std: require('../server/students.js')
    };
  },
  computed: {
    color() {
      if (this.current_markset == 1) {
        return 'red accent-4';
      } else if (this.current_markset == 2) {
        return 'red';
      } else if (this.current_markset == 3) {
        return 'yellow darken-3';
      } else if (this.current_markset == 4) {
        return 'lime darken-2';
      } else if (this.current_markset == 5) {
        return 'green darken-3';
      } else return 'black';
    }
  },
  watch: {
    $route(to, from) {
      this.user = this.$axios.get('/me').then((res) => {
        this.user = res.data.result;
        this.refresh();
      });
    }
  },
  mounted() {
    this.$store.dispatch('auth/fetch').then((result) => {
      this.user = result.data.result.id;
      console.log('Mounted,', this.user);
      this.refresh();
    });
  },
  methods: {
    lik(id, rid, index, rindex) {
      if (this.tables[index].students[rindex].likes > 0)
        this.post({
          id: rid,
          table_id: id,
          likes: this.tables[index].students[rindex].likes - 1,
          dislikes: this.tables[index].students[rindex].dislikes
        });
    },
    refresh() {
      this.$axios
        .get('/user_tables', { params: { id: this.user } })
        .then((ress) => {
          this.tables = ress.data;
        });
    },
    dis(id, rid, index, rindex) {
      if (this.tables[index].students[rindex].dislikes > 0)
        this.post({
          id: rid,
          table_id: id,
          likes: this.tables[index].students[rindex].likes,
          dislikes: this.tables[index].students[rindex].dislikes - 1
        });
    },
    like(id, rid, index, rindex) {
      this.post({
        id: rid,
        table_id: id,
        likes: this.tables[index].students[rindex].likes + 1,
        dislikes: this.tables[index].students[rindex].dislikes
      });
    },
    dislike(id, rid, index, rindex) {
      this.post({
        id: rid,
        table_id: id,
        likes: this.tables[index].students[rindex].likes,
        dislikes: this.tables[index].students[rindex].dislikes + 1
      });
    },
    reset(id, rid, index, rindex) {
      this.post({ id: rid, table_id: id, likes: 0, dislikes: 0 });
    },
    edit_table(id) {
      this.edit_menu = !this.edit_menu;
      this.edit_table_id = id;
    },
    post(data) {
      this.$axios
        .post('/edit_student', {
          id: data.id,
          table_id: data.table_id,
          data: {
            likes: data.likes,
            dislikes: data.dislikes
          }
        })
        .then((res) => this.refresh());
    },
    delete_table(ind) {
      this.edit_menu = !this.edit_menu;
      this.$axios.post('/delete_table', { table_id: ind }).then((res) => {
        this.refresh();
      });
    },
    colorly(itm) {
      if (itm.mark == 0) {
        return 'light-blue';
      } else if (itm.mark == 1) {
        return 'red accent-4';
      } else if (itm.mark == 2) {
        return 'red';
      } else if (itm.mark == 3) {
        return 'yellow darken-3';
      } else if (itm.mark == 4) {
        return 'lime darken-2';
      } else if (itm.mark == 5) {
        return 'green darken-3';
      } else return 'black';
    },
    add_to(key) {
      this.tableIdS = key;
    },
    create_student() {
      this.$axios
        .post('/create_student', {
          table_id: this.selected_table,
          data: {
            name: this.createdStudent_name,
            team_name: this.createdStudent_team,
            team_color: this.color_color
          }
        })
        .then((res) => {
          this.refresh();
        });
    },
    cret() {
      this.creating_student = !this.creating_student;
      console.log('aaa');
    },
    create_table() {
      console.log(this.user.id);
      this.$axios
        .post('/create_table', {
          name: this.created_name,
          id: this.user
        })
        .then((res) => {
          this.refresh();
        });
    },
    delete_student(tableid, rowid) {
      this.$axios
        .post('/delete_student', {
          id: rowid,
          table_id: tableid
        })
        .then((res) => {
          this.refresh();
        });
    },
    make_mark(itm) {
      this.$axios
        .post('/edit_student', {
          id: this.selected_row,
          table_id: this.selected_table,
          data: {
            mark: this.current_markset
          }
        })
        .then((res) => {
          this.refresh();
        });
    },
    remember_data(tid, rid) {
      this.selected_table = tid;
      this.selected_row = rid;
    },
    change_data() {
      const json = this.tables;
      this.$axios.post('/red', json, {
        headers: {
          'Content-type': 'application/json'
        }
      });
    },
    rst() {
      this.created_name = 'New Table';
      this.createdStudent_name = 'New Student';
    },
    delete_mark() {
      this.$axios
        .post('/edit_student', {
          id: this.selected_row,
          table_id: this.selected_table,
          data: {
            mark: 0
          }
        })
        .then((res) => {
          this.refresh();
        });
    }
  }
};
</script>
